<!DOCTYPE html>
<html>

<head>
  <title>Daniel de Jong</title>
  <link rel="icon" href="#" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/queries.css" />
  <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body>
  <div class="sm-navbar-icon">
    <p class="hamburger">&#9776; </p>
  </div>
  <section class="landing">


    <header>
      <div class="title-cont">
        <h1>Daniel de Jong</h1>
        <h2>Welcome to my portfolio</h2>
      </div>
    </header>

  </section>
  <nav class="ol-nav">
    <a class="nav-link home">Home</a>
    <a class="nav-link about">About me</a>
    <a class="nav-link work">My work</a>
    <a class="nav-link contact">Contact</a>
    <p class="close-nav">&times;</p>
  </nav>
  <section class="section-about">
    <div class="about-container">
      <h3>About me</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita iusto aspernatur vero aliquid sed,
        consectetur doloremque optio voluptate sunt rem accusantium provident nisi eligendi omnis consequatur dolore
        repudiandae officiis amet!</p>
    </div>
  </section>
  <section class="section-work">
  </section>
  <section class="section-contact">
  </section>

  <script rel="script" src="script/main.js"></script>
</body>

</html>