@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
  .title-cont h1 {
    font-size: 2em;
  }
  .title-cont h2 {
    font-size: 1em;
  }
  .hamburger {
    font-size: 1em;
  }
}
