* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 20px;
  font-weight: 300;
  font-family: "Muli", Arial, sans-serif;
}
body {
  background-color: #000;
}
li {
  list-style: none;
}
section {
  width: 100vw;
  height: 100vh;
  float: left;
  position: relative;
}
/*
LANDING SECTION
*/
.sm-navbar-icon {
  display: inline-block;
  z-index: 15;
  position: absolute;
  padding: 16px;
  font-size: 200%;
  cursor: pointer;
  left: 3%;
}
.landing {
  position: relative;
}
.landing {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../media/asphalt-bitumen-black-and-white-1038935.jpg");
  background-size: cover;
  background-position: center;
  /* background-color: #9a907e; */
}

.title-cont {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: white;
}
.title-cont h1 {
  text-transform: uppercase;
  font-size: 250%;
  text-align: center;
}

.title-cont h2 {
  text-transform: uppercase;
  font-size: 100%;
  text-align: center;
}

.title-cont h1,
.title-cont h2 {
  font-family: "Righteous", cursive, "muli", sans-serif;
}
.hamburger {
  transition: font-size 0.3s ease-in-out;
}
.hamburger:hover {
  font-size: 110%;
}
/*navbar*/
.ol-nav {
  position: absolute;
  height: 100vh;
  width: 0;
  z-index: 900;
  transition: 0.7s;
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
  padding-top: 120px;
  overflow-x: hidden;
}

.ol-nav a {
  color: #5a5a5a;
  transition: color 0.5s ease, opacity 0.5s, font-size 0.5s;
  cursor: pointer;
  display: block;
  font-size: 1.7em;
  padding: 8px;
  opacity: 0%;
}
.ol-nav a:hover {
  color: #fefefe;
  font-size: 1.8em;
  z-index: 10;
}
.close-nav {
  position: absolute;
  top: 0%;
  right: 3%;
  color: #5a5a5a;
  font-size: 2.5em;
  transition: 0.5s;
  cursor: pointer;
}
.close-nav:hover {
  color: #fefefe;
}
/*section about*/
.section-about,
.section-work,
.section-contact {
  background-image: radial-gradient(
    circle farthest-corner at 6.7% 22.9%,
    rgba(53, 62, 75, 1) 0%,
    rgba(187, 187, 187, 1) 96.6%
  );
}
.about-container {
  background-color: rgba(0, 0, 0, 0.514);
  width: 70%;
  margin-left: 15%;
  margin-top: 10%;
  color: #a5a5a5;
  padding: 30px;
}
.about-container h3,
.about-container p {
}
